.body-login {
    background-image: url(../img/background/bg-log4.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0px;
}

.main-content {
    background-color: rgb(214, 214, 214);
    text-align: center;
    width: 73%;
    margin: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.right-sidebar {
    background-color: rgb(214, 214, 214);
    float: right;
    margin-right: 10px;
    text-align: center;
    width: 25%;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.container ul {
    display: flex;
    justify-content: center;
}

.container ul.tab li{
    list-style: none;
    margin: 0 20px;
}

.icon {
    width: 30px;
}

.table {
    width: 100%;
}

th, td, tr{
    border: 1px solid rgba(199, 199, 199, 0.5);
}

#edit {
    display: none;
}