main{
    font-family: 'Nunito', sans-serif;
}

.main-product {
    display: flex;
    border: 1.5px solid #8d8d8d;
    border-radius: 10px;
    margin: 20px 100px;
    overflow: hidden;
    align-items: center;
}

.pro-title {
    border-bottom: 1.5px solid #8d8d8d;
    margin: 30px 30px 0;
} 
.pro-title h1, .pro-title h2 {
    margin: 30px 0;
}

.high-quality {
    width: 50px;
    margin-bottom: 30px;
}

.pro-img {
    height: 500px;
}

.buy, .share {
    margin: 15px 30px;
    font-size: large;
}

.add-cart-btn {
    color: dimgray;
    border: 1.5px solid #8d8d8d;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    transition: 0.3s;
}  

.number {
    border: 1.5px solid #8d8d8d;
    border-radius: 5px;
    height: 30px;
}

.add-cart-btn:hover {
    color: white;
    background-color: #236d5e;
    border: 1.5px solid #236d5e;
}

.link-fb, .link-tw {
    color: aliceblue;
    border: 1px solid #236d5e;
    background-color: #236d5e;
    border-radius: 20px;
    margin: 0 10px 0 0;
    transition: 0.3s;
    width: 35px;
    height: 35px;
}

.link-fb:hover, .link-tw:hover {
    color: #236d5e;
    background-color: aliceblue;
}

.info, .more {
    margin: 20px 100px;
}

.info p {
    color: #8d8d8d;
}

.cmt {
    display: flex;
}

.cmt-btn {
    border: 1.5px solid #8d8d8d;
    border-radius: 5px;
    width: 50px;
    margin-left: 10px;
}

.more-product {
    display: flex;
}

.detail-img{
    width: 170px;
}

.more-product .details {
    border: 1.5px solid #8d8d8d;
    border-radius: 5px;
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden; 
    transition: 0.5s;
}
.more-product .details:hover {
    transform: scale(1.01, 1.01);
}

.details-link {
    text-decoration: none;
    color: #236d5e;
    transition: none;
}
.details-link:hover {
    text-decoration: none;
    color: burlywood;
}

.details-link h5, .details-link p {
    margin: 10px;
}