/* liên hệ */
.main_contact {
    width: 100%;
    background: #EDBC6E;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.main_contact section {
    width: 1120px;
    height: 450px;
}

.main_contact h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.main_contact_detail {
    display: flex;
    justify-content: space-around;
}

.main_contact_detail .contact_detail {
    position: relative;
    width: 750px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgb(255, 255, 255, .5);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    margin-top: 60px;
}

.main_contact_detail .contact_detail p {
    font-family: 'Nunito', sans-serif;
    margin: 32px 10px;
}

.main_contact_detail iframe {
    width: 850px;
    height: 300px;
    border-radius: 20px;
    margin-top: 40px;
    margin-left: 30px;
}

.main_contact h2,
.main_contact h3 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 10px;
}

.main_contact h2 {
    font-size: 25px;
}

.main_contact h3 {
    font-size: 18px;
    font-weight: normal;
}
.form {
    position: relative;
    top: 0px;
    left: 260px;
}
.gui {
    position: absolute;
    left: 260px;  
    padding: 10px;
    border-radius: 20px;
    font-size: 25px;
    background-color: rgb(13, 88, 88);border-color: rgb(255, 174, 0);color:antiquewhite;
}
.map {
    position: relative;
    size: 200px;
    width: 800px;
    height: 850px;
    top: 350px;
    left: 100px;
}
.map h4 {
    position: relative;
    left: 250px;
    
}

