/* sản phẩm */
.container-fluid h2,  .container-fluid h3{
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.pro {
    display: flex;
}

.product {
    font-family: 'Nunito', sans-serif;
    /* width: 500px; */
    border: 1.5px solid #8d8d8d;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
}


.media .mr-3 {
    width: 100px;
    height: 140px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.media .mt-1 {
    text-decoration: none;
    color: darkcyan;
    font-size: 25px;

}

.media .mt-1:hover {
    color: #8d8d8d;
}

.media .add-cart-btn {
    height: 35px;
    width: max-content;
    border: 1px solid #497778;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: cadetblue;
}

.media .add-cart-btn:hover {
    background-color: #4c7e80;
}

.pagination {
    justify-content: center;
}

.container ul.pagination li {
    text-align: center;
    width: 200px;
    border: 1px solid #497778;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

ul.pagination li.active {
    background-color: #67b1b3;
}
